appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
ImageIO
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-image
scipy
setuptools
six
stack-data
sympy
tifffile
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
